body {
	background-color: #080808;
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}

html {
	overflow: hidden;
}

.title {
	position: absolute;
	display: block;
	margin: 0;
	height: 10px;
	top: -200px;
	width: 100vw;
	text-align: center;
	font-size: 120px;
	font-family: Oswald;
	color: white;
}

.logo {
	position: absolute;
	display: block;
	top: -200px;
	left: 50vw;
	transform: translate(-50%, 0);
	height: 144px;
	width: 144px;
}

#social {
	margin: 0 auto;
	display: block;
	padding: 0;
	position: absolute;
	top: -200px;
	left: 50vw;
	transform: translate(-50%, 0);
}

#wrap {
	display: inline-block;
	margin: 0 auto;
}

.lin {
	width: 4vw;
	height: 4vw;
	display: auto;
	margin: 0;
	padding: 0;
	border: 0;
	transition: padding 0.5s;
}

.lin:hover {
	padding: 8px;
	border-style: solid;
	border-radius: 2px;
	border-width: 2px;
	border-color: #fff;
}

#particles-js {
	width: 100vw;
	height: 100vh;
}
